body{
	margin:10px;
}

ul{
	margin: 0px 0px 10px 20px;
	font-size: 10px;
}


p{
	font-size:10pt;
}

.result{
	font-size: 10px;
	margin: 0px 0px 10px;
	color: #00F;
}

#layoutDiv{
		height:100%;
}
th,td{
	font-size:10pt;
	font-family: "ＭＳ ゴシック";
}

div{
	font-family: "ＭＳ ゴシック";
}

table.dataTbl{
	width: 100%;
	border:1px solid #999999;
	border-collapse:collapse;
}

table.dataTbl th{
	text-align: left;
	border:1px solid #999999;
	border-collapse:collapse;
	background-color: #FFFFCC;
	font-weight:normal;
}

table.dataTbl td{
	text-align: left;
	background-color:#FFFEEB;
	border:1px solid #999999;
	border-collapse:collapse;
}




tr.even{
	background-color:#FFFEEB;
}
tr.odd{
	background-color:#FFFFFF;
}

.column {
	background-color: #FFFFCC;
	border:1px solid #999999;
	border-collapse:collaspe;

}
/* 入力必須 */
.columnH {
	background-color: #FFFFCC;
	border:1px solid #999999;
	border-collapse:collaspe;
	color:#336699;

}
/* 必須（文字のみ） */
.spanH{
	color:#336699;
}
.cell{
	background-color:#FFFEEB;
	border:1px solid #999999;
	border-collapse:collapse;
}
.column2 {
	background-color: #dddddd;

}

td.column3{
	border:1px solid #999999;
	border-collapse:collapse;
	text-align:center;
}
td.column3 a:link{
	color:#3366FF;
	text-decoration:none;
}

td.column3 a:visited{
	text-decoration:none;
	color:#3366FF;
}

td.column3 a:hover{
	text-decoration:none;
	color:#33CCFF;
}

.cell2{
	background-color:#f5f5f5;

}
.columnS {
	background-color: #FFFFCC;
	border:1px solid #999999;
	border-collapse:collaspe;
	font-size:11px;

}
.cellS{
	background-color:#FFFEEB;
	border:1px solid #999999;
	border-collapse:collapse;
	font-size:11px;

}
div.layoutDiv{
	 	width:780px;
		background-color:#FFFFFF;
		border-right:2px solid #999999;
		border-left:2px solid #999999;
		margin:0px;
	 	text-align:left;
}
div.lineDiv{
	text-align:center;
	width:780px;
}
div.headerDiv{
	 width:780px;
	 padding:5px 18px;
}
div.footerDiv{
	width:776px;
	height:20px;
	background-color:#000099;
}
h1.sub1{
	background-image:url(../images/global/sub_bg.gif);
	background-repeat:no-repeat;
	padding:4px;
	font-size:12pt;
	font-weight:bold;
	height:31px;
	margin-top:20px;
	text-align:left;
}
h1{
	background-image:url(../images/global/sub_bg_pop.gif);
	background-repeat:no-repeat;
	padding:4px;
	margin: 0px 0px 10px;
	font-size:12pt;
	font-weight:bold;
	height:31px;
	text-align:left;
}

img.list1{
	 margin-right:10px;
	 margin-left:3px;
}
img.list2{
	margin-right:10px;
}
.btn1{
	background-color:#ff6600;
	color:#ffffff;
}
.btn1S{
	background-color:#ff6600;
	color:#ffffff;
	font-size:11px;
}
/* 入力フォーム等の小さいコメント部分 */
.sComment{
	font-size:11px;
	color:#ff6600;
}
/* 完了した時のコメント部分 */
.comment2{
	font-size:16px;
	font-weight:bold;
	line-height:1.5em;
	text-align:center;
}
.strongFont{
	color:#3366FF;
}
/* readOnly の部分 */
.readOnlyArea{
	background-color:#FFDCC4;
	/*background-color:#FFFEEB;*/
	border:none;
}
/* readOnly の部分 */
.readOnlyAreaNum{
	background-color:#FFDCC4;
	text-align:right;
	border:none;
}
/* readOnly 入力ページで、ボタンから選択する部分 の部分 */
.readOnlyArea2{
	background-color:#FFDCC4;/*#FFFEEB;*/
	border:none;
}
/* 入力フォーム　数値入力部（右そろえ） */
.numField{
	text-align:right;
}

td.leftCellTh{
	border-bottom:1px solid #999999;
	background-color: #FFFFCC;
}
td.otherCellTh{
	border-left:1px solid #999999;
	border-bottom:1px solid #999999;
	background-color: #FFFFCC; 
}
td.leftCell{
	border-bottom:1px solid #999999; 
}
td.otherCell{
	border-left:1px solid #999999;
	border-bottom:1px solid #999999; 
}

td.leftCellTh2{
	background-color: #FFFFCC;
}

td.otherCell2{
	border-left:1px solid #999999;
	
} 
/* タブ */
.tab{
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	background-color:#EEE;
	width:100px;
	float:left;
	margin-right:2px;
	padding:4px;
	text-align:center;
	font-size:10pt;
	
}
.tabN{
	border-top:1px solid #999;
	border-left:1px solid #999;
	border-right:1px solid #999;
	background-color:#FFCC99;
	width:100px;
	float:left;
	margin-right:2px;
	padding:4px;
	text-align:center;
	font-size:10pt;
}
div.contDiv{
	clear:both;
	width:740px;
	border:1px solid #999;
	padding:10px;
	height:400px;
	/*overflow:scroll;*/
	/*overflow-x:hidden;*/
	overflow:hidden;
	
}
a.tabLink:Link{
	color:#000000;
	text-decoration:none;
}
a.tabLink:visited{
	color:#000000;
	text-decoration:none;
}
a.tabLink:hover{
	color:#000000;
	text-decoration:none;
}
/* ヘッダーのボタン */
.headerBtn{
	 margin-bottom:5px; 
}
/* 検索次へリンク */
a.scLink:link{
	color:#336699;
	font-weight:bold;
}
a.scLink:visited{
	color:#336699;
	font-weight:bold;
}
a.scLink:hover{
	color:#3399CC;
	font-weight:bold;
}
.scTd{
	color:#336699;
	font-weight:bold;
}
.btnBlockPop{
	margin: 10px 0px 0px;
	text-align: center;
}
.btnBlockPop2{
	width:780px;
}

/* 画像一覧画面 */
div.listDiv1{
	float:left;
	width:230px;
	margin-right:25px;
	margin-bottom:25px;
}
div.listDiv1 img{
	margin-bottom:5px;
}
div.listDiv2{
	float:left;
	width:230px;
	margin-bottom:25px;
}
div.listDiv2 img{
	margin-bottom:5px;
}
table.imglistTbl{
	
}
table.imglistTbl td{
	font-size:10px;
	text-align:left;
	border-bottom:1px solid #999999;
}

.clear{
	clear:both;
}

/* ブルーのボタン */
.btn2{
	background-color:#000099;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
}

/* 青文字（小） */
.bluetxt{
	font-size:10pt;
	font-family: "ＭＳ ゴシック";
	color:blue;
}

button{
	width: 60px;
	background: none;
	border: 0px;
}

.tdText
{
	color: #1789A1;
	border:none;
}
.tdBackground
{
	background-color: #EFEFEF;
}
